.landing-page__container {
  @media only screen and (max-width: 1279px) {
    grid-template-columns: 1fr;
    grid-template-rows: 88px 241px auto;
    height: 100%;
  }

  display: grid;
  background-color: #fff;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 90px auto;
  height: 100%;

  .landing-page__background-image {
    height: 240px;
    @media only screen and (max-width: 1279px) {
      display: block; /* Display the image on screens up to 1279px width */
      grid-area: 2/1/3/2;
      background-image: url(https://frontend-cdn.onlinebanking-ocp-1.standardbank.co.za/illustrations/login-landing-tablet.jpg);
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      grid-template-columns: 70px auto;
      grid-template-rows: auto 70px auto;
    }

    @media only screen and (min-width: 1280px) {
      display: none; /* Hide the image on screens larger than 1279px width */
    }
  }
}
